<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.manage.mapper.TActivityMapper">
    
    <resultMap type="TActivity" id="TActivityResult">
        <result property="activeId"    column="active_id"    />
        <result property="activeTitle"    column="active_title"    />
        <result property="actvieType"    column="actvie_type"    />
        <result property="fullNum"    column="full_num"    />
        <result property="address"    column="address"    />
        <result property="activeStartTime"    column="active_start_time"    />
        <result property="activeEndTime"    column="active_end_time"    />
        <result property="activeContent"    column="active_content"    />
        <result property="description"    column="description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTActivityVo">
        select active_id, active_title, actvie_type, full_num, address, active_start_time, active_end_time, active_content, description, create_by, create_time, update_by, update_time from t_activity
    </sql>

    <select id="selectTActivityList" parameterType="TActivity" resultMap="TActivityResult">
        <include refid="selectTActivityVo"/>
        <where>  
            <if test="activeTitle != null  and activeTitle != ''"> and active_title like concat('%', #{activeTitle}, '%')</if>
            <if test="actvieType != null  and actvieType != ''"> and actvie_type = #{actvieType}</if>
            <if test="fullNum != null "> and full_num = #{fullNum}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="activeStartTime != null "> and active_start_time = #{activeStartTime}</if>
            <if test="activeEndTime != null "> and active_end_time = #{activeEndTime}</if>
            <if test="activeContent != null  and activeContent != ''"> and active_content = #{activeContent}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectTActivityByActiveId" parameterType="Long" resultMap="TActivityResult">
        <include refid="selectTActivityVo"/>
        where active_id = #{activeId}
    </select>

    <insert id="insertTActivity" parameterType="TActivity" useGeneratedKeys="true" keyProperty="activeId">
        insert into t_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activeTitle != null">active_title,</if>
            <if test="actvieType != null">actvie_type,</if>
            <if test="fullNum != null">full_num,</if>
            <if test="address != null">address,</if>
            <if test="activeStartTime != null">active_start_time,</if>
            <if test="activeEndTime != null">active_end_time,</if>
            <if test="activeContent != null">active_content,</if>
            <if test="description != null">description,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activeTitle != null">#{activeTitle},</if>
            <if test="actvieType != null">#{actvieType},</if>
            <if test="fullNum != null">#{fullNum},</if>
            <if test="address != null">#{address},</if>
            <if test="activeStartTime != null">#{activeStartTime},</if>
            <if test="activeEndTime != null">#{activeEndTime},</if>
            <if test="activeContent != null">#{activeContent},</if>
            <if test="description != null">#{description},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTActivity" parameterType="TActivity">
        update t_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="activeTitle != null">active_title = #{activeTitle},</if>
            <if test="actvieType != null">actvie_type = #{actvieType},</if>
            <if test="fullNum != null">full_num = #{fullNum},</if>
            <if test="address != null">address = #{address},</if>
            <if test="activeStartTime != null">active_start_time = #{activeStartTime},</if>
            <if test="activeEndTime != null">active_end_time = #{activeEndTime},</if>
            <if test="activeContent != null">active_content = #{activeContent},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where active_id = #{activeId}
    </update>

    <delete id="deleteTActivityByActiveId" parameterType="Long">
        delete from t_activity where active_id = #{activeId}
    </delete>

    <delete id="deleteTActivityByActiveIds" parameterType="String">
        delete from t_activity where active_id in 
        <foreach item="activeId" collection="array" open="(" separator="," close=")">
            #{activeId}
        </foreach>
    </delete>
</mapper>